<form action="/search" method="get">
    <label>Поиск:</label>
    <input class="input" type="text" name="search" />
</form>
<ul class="topmenu">
    <li>
            <a href="/account" class="down">Аккаунт</a>
            <ul class="submenu">
                <li><a href="/account/login">Войти</a></li>
                <li><a href="/account/registration">Зарегистрироваться</a></li>
            </ul>
        </li>
        <li>
            <a href="/article/add">Добавить статью</a>
        </li>
    </ul>
