<section>
    <p>
        Добро пожаловать на вики, посвящённую модификации Kaiserreich: Legacy of the Weltkrieg, посвящённой альтернативной истории для видеоигр Hearts of Iron II, Darkest Hour: A Hearts of Iron Game, и Hearts of Iron IV от Paradox Interactive, которая отвечает на вопрос: «Что, если бы Германия победила в Великой войне?».
        Эта вики описывает мир и историю модификации Kaiserreich. Все страницы написаны в стиле «во вселенной», будто они созданы в самом альтернативном мире. Каждый может помочь вики, если будет править и создавать статьи и наполнять энциклопедию новым содержанием.
    </p>
    <figure class="photo">
        <img class="picture" src="/assets/images/logo.png" />
    </figure>
</section>