<ul class="topmenu">
        <li><a href="/">Домой</a></li>
        <li>
            <a href="/article" class="down">Статья</a>
            <ul class="submenu">
                <li><a href="">Государства</a></li>
                <li><a href="">Люди</a></li>
                <li><a href="">События</a></li>
                <li><a href="/article?name=">Случайная статья</a></li>
            </ul>
        </li>
        <li>
            <a href="">Фотогалерея</a>
            <ul class="submenu">
                <li><a href="/photo">Все фотографии</a></li>
                <li><a href="/photo/add">Добавить фотографию</a></li>
            </ul>
        </li>
        <li><a href="/contacts">Контакты</a></li>
</ul>