<section>
  <form action="/account/login" #accountLoginForm="ngForm" method="post">
      <label>Email</label><br>
      <input class="input" type="email" name="email" [(ngModel)]="account.email" #email="ngModel" required  pattern="[a-zA-Z_0-9]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}"/><br>
      <div [hidden]="!(email.invalid && (email.dirty || email.touched))" class="alert alert-danger">
          Некорректный email
      </div>
      <label>Пароль</label><br>
      <input class="input" type="password" name="password" [(ngModel)]="account.password" minlength="8" #password="ngModel" required /><br>
      <div [hidden]="!(password.invalid && (password.dirty || password.touched))" class="alert alert-danger">
          Пароль должен быть не менее 8 символов
      </div>
      <input class="button" type="submit" [disabled]="accountLoginForm.invalid" (click)="submit()" value="Войти" />
      <div [hidden]="!errorFlag" class="alert alert-danger">
          {{errorMessage}}
      </div>
  </form>
</section>
